# Group Members & K-State Honor Code
> **Group Members** <br>
Amelia Noe, Jeremy Larson <br>
<br>
> **K-State Honor Code** <br>
On our honor, as students, we have neither given nor received unauthorized aid on this academic work.

# Project Description

#### To provide local law enforcement, local government, and community members key indicators for various types of crimes in Chicago and a means to predict crime in the future.
> The analysis will focus on different socioeconomic variables in an attempt to diagnosis the population and different service requests recorded by the city to diagnosis city infrastructure and upkeep to see if any of these variables are useful in explaining and predicting crime in the Chicago region.

# Dataset Information

#### File Name:  `Chicago_Crimes_2012_to_2017.csv` <br> 
>**Description:** Record of crimes and various variables in Chicago from 2012-2017 <br> 
**Datasource:** Download from https://www.kaggle.com/currie32/crimes-in-chicago/data

#### File Name:  `Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2010___2014.csv ` <br> 
>**Description:** Various socioeconomic variables for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://greatcities.uic.edu/wp-content/uploads/2016/07/GCI-Hardship-Index-Fact-SheetV2.pdf 

#### File Name:  `311_Service_Requests_-_Abandoned_Vehicles.csv ` <br> 
>**Description:** Reported abandoned vehicles for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Abandoned-Vehicles/3c9v-pnva

#### File Name:  `311_Service_Requests_-_Alley_Lights_Out.csv` <br> 
>**Description:** Reported alley lights out for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Alley-Lights-Out/t28b-ys7j

#### File Name:  `311_Service_Requests_-_Graffiti_Removal.csv` <br> 
>**Description:** Reported requests to remove graffiti for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Graffiti-Removal/hec5-y4x5

#### File Name:  `311_Service_Requests_-_Pot_Holes_Reported.csv ` <br> 
>**Description:** Reported potholes for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Pot-Holes-Reported/7as2-ds3y

#### File Name:  `311_Service_Requests_-_Street_Lights_-_All_Out.csv ` <br> 
>**Description:** Reported street lights out for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Street-Lights-All-Out/zuxi-7xem

#### File Name:  `311_Service_Requests_-_Vacant_and_Abandoned_Buildings_Reported.csv` <br> 
>**Description:** Reported abandoned buildings for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Service-Requests/311-Service-Requests-Vacant-and-Abandoned-Building/7nii-7srd

#### File Name:  `2010 Census Community Area Population.csv ` <br> 
>**Description:** Population count from 2010 US Census for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://www.cityofchicago.org/content/dam/city/depts/zlup/Zoning_Main_Page/Publications/Census_2010_Community_Area_Profiles/Census_2010_and_2000_CA_Populations.pdf

#### File Name:  `Boundaries - Community Areas (current).geojson ` <br> 
>**Description:** Geoshape data for each designated Community Area in Chicago. <br> 
**Datasource:** Download from https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Boundaries-Community-Areas-current-/cauq-8yn6

# Import Packages

In [1]:
#standard package loadout
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

# ETL Data for Demographic and Economic Crime Analysis by Geographic Community Area

### Crime Dataset

> This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2012 to date if data extract, minus the most recent seven days. Data is extracted from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system. In order to protect the privacy of crime victims, addresses are shown at the block level only and specific locations are not identified.

In [2]:
# load crime dataset
crime = pd.read_csv("data/Chicago_Crimes_2012_to_2017.csv")
crime.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"

In [3]:
# review data info
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456714 entries, 0 to 1456713
Data columns (total 23 columns):
Unnamed: 0              1456714 non-null int64
ID                      1456714 non-null int64
Case Number             1456713 non-null object
Date                    1456714 non-null object
Block                   1456714 non-null object
IUCR                    1456714 non-null object
Primary Type            1456714 non-null object
Description             1456714 non-null object
Location Description    1455056 non-null object
Arrest                  1456714 non-null bool
Domestic                1456714 non-null bool
Beat                    1456714 non-null int64
District                1456713 non-null float64
Ward                    1456700 non-null float64
Community Area          1456674 non-null float64
FBI Code                1456714 non-null object
X Coordinate            1419631 non-null float64
Y Coordinate            1419631 non-null float64
Year                    1456714 non-null int64
Updated On              1456714 non-null object
Latitude                1419631 non-null float64
Longitude               1419631 non-null float64
Location                1419631 non-null object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 236.2+ MB

In [4]:
# keep only necessary data for analysis
crimeRelevantData = crime[['Community Area', 'Primary Type']]
crimeRelevantData.head()

   Community Area            Primary Type
0            29.0                 BATTERY
1            42.0                 BATTERY
2            25.0  PUBLIC PEACE VIOLATION
3            25.0                 BATTERY
4            25.0                   THEFT

In [5]:
# review data info
crimeRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456714 entries, 0 to 1456713
Data columns (total 2 columns):
Community Area    1456674 non-null float64
Primary Type      1456714 non-null object
dtypes: float64(1), object(1)
memory usage: 22.2+ MB

In [6]:
#remove the rows with any missing value
crimeCleanData = crimeRelevantData.dropna()
crimeCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456674 entries, 0 to 1456713
Data columns (total 2 columns):
Community Area    1456674 non-null float64
Primary Type      1456674 non-null object
dtypes: float64(1), object(1)
memory usage: 33.3+ MB

In [7]:
# convert community area to integer

crimeCleanData.loc[:,'Community Area'].astype(int)

crimeCleanData.head()

   Community Area            Primary Type
0            29.0                 BATTERY
1            42.0                 BATTERY
2            25.0  PUBLIC PEACE VIOLATION
3            25.0                 BATTERY
4            25.0                   THEFT

In [8]:
# review data info
crimeCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456674 entries, 0 to 1456713
Data columns (total 2 columns):
Community Area    1456674 non-null float64
Primary Type      1456674 non-null object
dtypes: float64(1), object(1)
memory usage: 33.3+ MB

In [9]:
# clean data to not contain geographic areas that have a numeric value of 0
crimeCleanData = crimeCleanData[(crimeCleanData['Community Area'] > 0)]
crimeCleanData.head()

   Community Area            Primary Type
0            29.0                 BATTERY
1            42.0                 BATTERY
2            25.0  PUBLIC PEACE VIOLATION
3            25.0                 BATTERY
4            25.0                   THEFT

### Code crime Primary Type as an indication of whether it involves a Crime Against Person, Crime Against Property, or Crime Against Society.
> Definitions of what is considered a Crime Against Person, Crime Against Property, or Crime Against Society is according to the Uniform Crime Reporting National Incident-Based Reporting System (NIBRS) produced by the U.S. Department of Justice Federal Bureau of Investigation Criminal Justice Information Services Division.

> In the Summary reporting system, there are two scoring categories: Crimes Against Persons (e.g., Aggravated Assault, Murder, and Forcible Rape) where one offense is counted for each victim and Crimes Against Property (e.g., Burglary, Larceny-theft, and Robbery) where one offense is counted for each distinct operation (except Motor Vehicle Theft where one offense is counted for each stolen vehicle). 
In NIBRS, it was necessary to add a new scoring category to account for crimes such as Drug/Narcotic Offenses, Gambling Offenses, Pornography/Obscene Material, and Prostitution Offenses. They are not Crimes Against Persons as they do not actually involve a victim, nor are they Crimes Against Property because property is not the real object of the crimes. Since these crimes represent society’s prohibitions on engaging in certain types of activity, a new scoring category of Crimes Against Society was created.

>More information on NIBRS can be found at: https://ucr.fbi.gov/nibrs-overview

In [10]:
# create a copy of Primary Type
crimeCleanData['Crime Type'] = crimeCleanData['Primary Type']
crimeCleanData.head()

   Community Area            Primary Type              Crime Type
0            29.0                 BATTERY                 BATTERY
1            42.0                 BATTERY                 BATTERY
2            25.0  PUBLIC PEACE VIOLATION  PUBLIC PEACE VIOLATION
3            25.0                 BATTERY                 BATTERY
4            25.0                   THEFT                   THEFT

In [11]:
# Map Primary Type in Crime Type to Crime Type

crimeCleanData['Crime Type'] = crimeCleanData['Crime Type'].map({'ARSON': 'PROPERTY', 
                                                                 'ASSAULT': 'PERSONS', 
                                                                 'BATTERY': 'PERSONS',
                                                                 'BURGLARY': 'PROPERTY', 
                                                                 'CONCEALED CARRY LICENSE VIOLATION': 'SOCIETY', 
                                                                 'CRIM SEXUAL ASSAULT': 'PERSONS',
                                                                 'CRIMINAL DAMAGE': 'PROPERTY', 
                                                                 'CRIMINAL TRESPASS': 'PROPERTY', 
                                                                 'DECEPTIVE PRACTICE': 'SOCIETY',
                                                                 'GAMBLING': 'SOCIETY', 
                                                                 'HOMICIDE': 'PERSONS', 
                                                                 'HUMAN TRAFFICKING': 'PERSONS',
                                                                 'INTERFERENCE WITH PUBLIC OFFICER': 'PERSONS', 
                                                                 'INTIMIDATION': 'PERSONS', 
                                                                 'KIDNAPPING': 'PERSONS',
                                                                 'LIQUOR LAW VIOLATION': 'SOCIETY', 
                                                                 'MOTOR VEHICLE THEFT': 'PROPERTY', 
                                                                 'NARCOTICS': 'SOCIETY',
                                                                 'NON - CRIMINAL': 'SOCIETY', 
                                                                 'NON-CRIMINAL': 'SOCIETY', 
                                                                 'NON-CRIMINAL (SUBJECT SPECIFIED)': 'SOCIETY',
                                                                 'OBSCENITY': 'SOCIETY', 
                                                                 'OFFENSE INVOLVING CHILDREN': 'PERSONS', 
                                                                 'OTHER NARCOTIC VIOLATION': 'SOCIETY',
                                                                 'OTHER OFFENSE': 'SOCIETY', 
                                                                 'PROSTITUTION': 'SOCIETY', 
                                                                 'PUBLIC INDECENCY': 'SOCIETY',
                                                                 'PUBLIC PEACE VIOLATION': 'SOCIETY', 
                                                                 'ROBBERY': 'PROPERTY', 
                                                                 'SEX OFFENSE': 'PERSONS',
                                                                 'STALKING': 'PERSONS', 
                                                                 'THEFT': 'PROPERTY', 
                                                                 'WEAPONS VIOLATION': 'SOCIETY',
                                                                })
crimeCleanData.head()

   Community Area            Primary Type Crime Type
0            29.0                 BATTERY    PERSONS
1            42.0                 BATTERY    PERSONS
2            25.0  PUBLIC PEACE VIOLATION    SOCIETY
3            25.0                 BATTERY    PERSONS
4            25.0                   THEFT   PROPERTY

In [12]:
# create dummy variables for crime type
crimeType = pd.get_dummies(crimeCleanData['Crime Type'], prefix='Crime Type')
crimeCleanData = crimeCleanData.join(crimeType)
crimeCleanData.head()

,Community Area,Primary Type,Crime Type,Crime Type_PERSONS,Crime Type_PROPERTY,Crime Type_SOCIETY
0,29.0,BATTERY,PERSONS,1,0,0
1,42.0,BATTERY,PERSONS,1,0,0
2,25.0,PUBLIC PEACE VIOLATION,SOCIETY,0,0,1
3,25.0,BATTERY,PERSONS,1,0,0
4,25.0,THEFT,PROPERTY,0,1,0

In [13]:
#drop columns
crimeCleanData = crimeCleanData.drop(['Primary Type','Crime Type'], axis=1)
crimeCleanData.head()

   Community Area  Crime Type_PERSONS  Crime Type_PROPERTY  Crime Type_SOCIETY
0            29.0                   1                    0                   0
1            42.0                   1                    0                   0
2            25.0                   0                    0                   1
3            25.0                   1                    0                   0
4            25.0                   0                    1                   0

In [14]:
# groupby community area
crimeGroup = crimeCleanData.groupby('Community Area').sum()
crimeGroup.head()

                Crime Type_PERSONS  Crime Type_PROPERTY  Crime Type_SOCIETY
Community Area
1.0                         6036.0              10018.0              4446.0
2.0                         4550.0               9759.0              3427.0
3.0                         5099.0              10118.0              5155.0
4.0                         2399.0               5924.0              1932.0
5.0                         1191.0               5558.0              1243.0

In [15]:
# create column for total crime count
crimeGroup['Total Crime'] = crimeGroup['Crime Type_PERSONS'] + crimeGroup['Crime Type_PROPERTY'] + crimeGroup['Crime Type_SOCIETY']
crimeGroup.head()

,Crime Type_PERSONS,Crime Type_PROPERTY,Crime Type_SOCIETY,Total Crime
Community Area,,,,
1.0,6036.0,10018.0,4446.0,20500.0
2.0,4550.0,9759.0,3427.0,17736.0
3.0,5099.0,10118.0,5155.0,20372.0
4.0,2399.0,5924.0,1932.0,10255.0
5.0,1191.0,5558.0,1243.0,7992.0

### Socioeconomic Indicators

>**Description:** This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” by Chicago community area, for the years 2010 – 2014. The indicators are the percent of occupied housing units with more than one person per room (i.e., crowded housing); the percent of households living below the federal poverty level; the percent of persons aged16 years or older in the labor force that are unemployed; the percent of persons aged 25 years or older without a high school diploma; the percent of the population under 18 or over 64 years of age (i.e., dependency); and per capita income.

In [16]:
# load socioeconomic dataset
socioeconomic = pd.read_csv("data/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2010___2014.csv")
socioeconomic.head()

,Community Area,Community Area Number,Hardship Index Score,Percent of Crowded Housing,Percent of Households With Income Below Poverty Level,Unemployment Rate for Population Age 16 and Over,Percent Aged 25 and Over with no High School Diploma,Percent of Population Under Age 18 and Over Age 64,Per Capita Income
0,Rogers Park,1,39.7,7.1,24.0,9.3,16.4,27.2,24323
1,West Ridge,2,44.3,7.6,17.4,10.0,17.1,38.3,23498
2,Uptown,3,29.9,3.8,23.9,10.1,10.8,23.3,37180
3,Lincoln Square,4,23.8,1.6,12.7,7.9,10.6,26.0,39524
4,North Center,5,14.9,0.6,6.1,4.6,6.0,27.8,56893

In [17]:
# review data info
socioeconomic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
Community Area                                           77 non-null object
Community Area Number                                    77 non-null int64
Hardship Index Score                                     77 non-null float64
Percent of Crowded Housing                               77 non-null float64
Percent of Households With Income Below Poverty Level    77 non-null float64
Unemployment Rate for Population Age 16 and Over         77 non-null float64
Percent Aged 25 and Over with no High School Diploma     77 non-null float64
Percent of Population Under Age 18 and Over Age 64       77 non-null float64
Per Capita Income                                        77 non-null int64
dtypes: float64(6), int64(2), object(1)
memory usage: 5.5+ KB

In [18]:
# rename community area column labels to match other datasets
socioeconomic = socioeconomic.rename(columns={'Community Area': 'Community Area Name', 'Community Area Number': 'Community Area'})
socioeconomic.head()

,Community Area Name,Community Area,Hardship Index Score,Percent of Crowded Housing,Percent of Households With Income Below Poverty Level,Unemployment Rate for Population Age 16 and Over,Percent Aged 25 and Over with no High School Diploma,Percent of Population Under Age 18 and Over Age 64,Per Capita Income
0,Rogers Park,1,39.7,7.1,24.0,9.3,16.4,27.2,24323
1,West Ridge,2,44.3,7.6,17.4,10.0,17.1,38.3,23498
2,Uptown,3,29.9,3.8,23.9,10.1,10.8,23.3,37180
3,Lincoln Square,4,23.8,1.6,12.7,7.9,10.6,26.0,39524
4,North Center,5,14.9,0.6,6.1,4.6,6.0,27.8,56893

In [19]:
# convert community area to integer

socioeconomic.loc[:,'Community Area'].astype(int)
socioeconomic.head()

,Community Area Name,Community Area,Hardship Index Score,Percent of Crowded Housing,Percent of Households With Income Below Poverty Level,Unemployment Rate for Population Age 16 and Over,Percent Aged 25 and Over with no High School Diploma,Percent of Population Under Age 18 and Over Age 64,Per Capita Income
0,Rogers Park,1,39.7,7.1,24.0,9.3,16.4,27.2,24323
1,West Ridge,2,44.3,7.6,17.4,10.0,17.1,38.3,23498
2,Uptown,3,29.9,3.8,23.9,10.1,10.8,23.3,37180
3,Lincoln Square,4,23.8,1.6,12.7,7.9,10.6,26.0,39524
4,North Center,5,14.9,0.6,6.1,4.6,6.0,27.8,56893

In [20]:
# review data info
socioeconomic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
Community Area Name                                      77 non-null object
Community Area                                           77 non-null int64
Hardship Index Score                                     77 non-null float64
Percent of Crowded Housing                               77 non-null float64
Percent of Households With Income Below Poverty Level    77 non-null float64
Unemployment Rate for Population Age 16 and Over         77 non-null float64
Percent Aged 25 and Over with no High School Diploma     77 non-null float64
Percent of Population Under Age 18 and Over Age 64       77 non-null float64
Per Capita Income                                        77 non-null int64
dtypes: float64(6), int64(2), object(1)
memory usage: 5.5+ KB

### Abandoned Vehicles

> **Description:** All open abandoned vehicle complaints made to 311 and all requests completed since January 1, 2011. A vehicle can be classified as abandoned if it meets one or more of the following criteria: All open abandoned vehicle complaints made to 311 and all requests completed since January 1, 2011.

>A vehicle can be classified as abandoned if it meets one or more of the following criteria: 1) On a public way in a state of disrepair as to be incapable of being driven in its present condition. 2) Has not been moved or used for more than seven consecutive days and is apparently deserted. 3) Has been left on the public way without state registration or a temporary state registration placard for two or more days. 4) Is a hazardous dilapidated vehicle left in full view of the general public, whether on public or private property.

In [21]:
# load abandoned vehicles dataset
vehicle = pd.read_csv("data/311_Service_Requests_-_Abandoned_Vehicles.csv")
vehicle.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,License Plate,Vehicle Make/Model,Vehicle Color,Current Activity,Most Recent Action,...,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,SSA,Latitude,Longitude,Location
0,01/01/2011,Completed - Dup,01/07/2011,11-00002767,Abandoned Vehicle Complaint,0000000000,Jeep/Cherokee,Red,NaN,NaN,...,60646.0,1.147717e+06,1.937054e+06,39.0,17.0,13.0,NaN,41.983680,-87.731966,"(41.983680361597564, -87.7319663736746)"
1,01/01/2011,Completed - Dup,01/07/2011,11-00002779,Abandoned Vehicle Complaint,REAR PLATE STARTS W/848 AND FRONT PLATE STARTS...,Isuzu,Red,NaN,NaN,...,60646.0,1.147717e+06,1.937054e+06,39.0,17.0,13.0,NaN,41.983680,-87.731966,"(41.983680361597564, -87.7319663736746)"
2,01/01/2011,Completed - Dup,01/20/2011,11-00003001,Abandoned Vehicle Complaint,9381880,Toyota,Silver,NaN,NaN,...,60639.0,1.146056e+06,1.913269e+06,31.0,25.0,20.0,NaN,41.918588,-87.738684,"(41.91858774162382, -87.73868431751842)"
3,01/01/2011,Completed - Dup,01/21/2011,11-00003309,Abandoned Vehicle Complaint,MI S CS860,Jeep/Cherokee,Gold,NaN,NaN,...,60613.0,1.170576e+06,1.928214e+06,46.0,23.0,3.0,NaN,41.958607,-87.648876,"(41.95860696269331, -87.64887590959788)"
4,01/01/2011,Completed - Dup,01/21/2011,11-00003316,Abandoned Vehicle Complaint,MI SCS860,NaN,Gold,NaN,NaN,...,60613.0,1.170576e+06,1.928214e+06,46.0,23.0,3.0,NaN,41.958607,-87.648876,"(41.95860696269331, -87.64887590959788)"

In [22]:
# review data info
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177756 entries, 0 to 177755
Data columns (total 22 columns):
Creation Date                                             177756 non-null object
Status                                                    177756 non-null object
Completion Date                                           176363 non-null object
Service Request Number                                    177756 non-null object
Type of Service Request                                   177756 non-null object
License Plate                                             160656 non-null object
Vehicle Make/Model                                        160537 non-null object
Vehicle Color                                             163248 non-null object
Current Activity                                          163498 non-null object
Most Recent Action                                        162994 non-null object
How Many Days Has the Vehicle Been Reported as Parked?    158240 non-null float64
Street Address                                            177756 non-null object
ZIP Code                                                  177597 non-null float64
X Coordinate                                              94617 non-null float64
Y Coordinate                                              94617 non-null float64
Ward                                                      177634 non-null float64
Police District                                           177634 non-null float64
Community Area                                            177634 non-null float64
SSA                                                       23381 non-null float64
Latitude                                                  177632 non-null float64
Longitude                                                 177632 non-null float64
Location                                                  177632 non-null object
dtypes: float64(10), object(12)
memory usage: 29.8+ MB

In [23]:
# keep only data needed
vehicleRelevantData = vehicle[['Community Area', 'Creation Date']]
vehicleRelevantData.head()

   Community Area Creation Date
0            13.0    01/01/2011
1            13.0    01/01/2011
2            20.0    01/01/2011
3             3.0    01/01/2011
4             3.0    01/01/2011

In [24]:
# review data info
vehicleRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177756 entries, 0 to 177755
Data columns (total 2 columns):
Community Area    177634 non-null float64
Creation Date     177756 non-null object
dtypes: float64(1), object(1)
memory usage: 2.7+ MB

In [25]:
#remove the rows with any missing value
vehicleCleanData = vehicleRelevantData.dropna()
vehicleCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177634 entries, 0 to 177755
Data columns (total 2 columns):
Community Area    177634 non-null float64
Creation Date     177634 non-null object
dtypes: float64(1), object(1)
memory usage: 4.1+ MB

In [26]:
# rename date column
vehicleCleanData = vehicleCleanData.rename(columns={'Creation Date': 'Date'})
vehicleCleanData.head()

   Community Area        Date
0            13.0  01/01/2011
1            13.0  01/01/2011
2            20.0  01/01/2011
3             3.0  01/01/2011
4             3.0  01/01/2011

In [27]:
# convert community area to integer
vehicleCleanData['Community Area'] = vehicleCleanData['Community Area'].astype(int)

# convert date data type to datetime
vehicleCleanData['Date'] = pd.to_datetime(pd.Series(vehicleCleanData.Date))

vehicleCleanData.head()

   Community Area       Date
0              13 2011-01-01
1              13 2011-01-01
2              20 2011-01-01
3               3 2011-01-01
4               3 2011-01-01

In [28]:
# review data info
vehicleCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177634 entries, 0 to 177755
Data columns (total 2 columns):
Community Area    177634 non-null int32
Date              177634 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 3.4 MB

In [29]:
# clean data to match timeframe as crime file and not contain geographic areas that have a numeric value of 0
vehicleCleanData = vehicleCleanData[(vehicleCleanData['Community Area'] > 0) & (vehicleCleanData['Date'] >= '2012-01-01')]
vehicleCleanData.head()

    Community Area       Date
27              77 2012-01-01
28              77 2012-01-01
29              16 2012-01-01
30              55 2012-01-01
31               7 2012-01-01

In [30]:
# groupby community area
vehicleGroup = vehicleCleanData.groupby('Community Area').count()
vehicleGroup = vehicleGroup.rename(columns={'Date': 'Abandoned Vehicles'})
vehicleGroup.head()

                Abandoned Vehicles
Community Area
1                             2811
2                             4770
3                             1737
4                             2250
5                             2219

### Alley Lights Out

> **Description:** This dataset contains all open 311 reports of one or more lights out on a wooden pole in the alley and all completed requests since January 1, 2011.

In [31]:
# load alley lights dataset
alleyLight = pd.read_csv("data/311_Service_Requests_-_Alley_Lights_Out.csv")
alleyLight.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
0,NaN,STATUS,NaN,SERVICE REQUEST NUMBER,TYPE OF SERVICE REQUEST,STREET ADDRESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2011,Completed - Dup,01/02/2011,11-00001814,Alley Light Out,4316 S SACRAMENTO AVE,60632.0,1.157078e+06,1.875878e+06,14.0,9.0,58.0,41.815176,-87.699332,"(41.81517646745516, -87.69933194705028)"
2,01/01/2011,Completed - Dup,01/02/2011,11-00002131,Alley Light Out,12256 S THROOP ST,60643.0,1.169885e+06,1.823490e+06,34.0,5.0,53.0,41.671148,-87.653870,"(41.67114764355224, -87.65386985854649)"
3,01/01/2011,Completed - Dup,01/02/2011,11-00002721,Alley Light Out,6949 S ROCKWELL ST,60629.0,1.160242e+06,1.858411e+06,18.0,8.0,66.0,41.767180,-87.688205,"(41.76717991767958, -87.68820480368018)"
4,01/01/2011,Completed - Dup,01/02/2011,11-00002731,Alley Light Out,5300 S WASHTENAW AVE,60632.0,1.159272e+06,1.869410e+06,14.0,9.0,63.0,41.797381,-87.691461,"(41.797381114669676, -87.69146089039006)"

In [32]:
# review data info
alleyLight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188600 entries, 0 to 188599
Data columns (total 15 columns):
Creation Date              188599 non-null object
Status                     188600 non-null object
Completion Date            182732 non-null object
Service Request Number     188600 non-null object
Type of Service Request    188600 non-null object
Street Address             188597 non-null object
ZIP Code                   188205 non-null float64
X Coordinate               188504 non-null float64
Y Coordinate               188504 non-null float64
Ward                       188551 non-null float64
Police District            188551 non-null float64
Community Area             188551 non-null float64
Latitude                   188504 non-null float64
Longitude                  188504 non-null float64
Location                   188504 non-null object
dtypes: float64(8), object(7)
memory usage: 21.6+ MB

In [33]:
# keep only data needed for analysis
alleyLightRelevantData = alleyLight[['Community Area', 'Creation Date']]
alleyLightRelevantData.head()

   Community Area Creation Date
0             NaN           NaN
1            58.0    01/01/2011
2            53.0    01/01/2011
3            66.0    01/01/2011
4            63.0    01/01/2011

In [34]:
#review data info
alleyLightRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188600 entries, 0 to 188599
Data columns (total 2 columns):
Community Area    188551 non-null float64
Creation Date     188599 non-null object
dtypes: float64(1), object(1)
memory usage: 2.9+ MB

In [35]:
#remove the rows with any missing value
alleyLightCleanData = alleyLightRelevantData.dropna()
alleyLightCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188551 entries, 1 to 188599
Data columns (total 2 columns):
Community Area    188551 non-null float64
Creation Date     188551 non-null object
dtypes: float64(1), object(1)
memory usage: 4.3+ MB

In [36]:
# rename date column
alleyLightCleanData = alleyLightCleanData.rename(columns={'Creation Date': 'Date'})
alleyLightCleanData.head()

   Community Area        Date
1            58.0  01/01/2011
2            53.0  01/01/2011
3            66.0  01/01/2011
4            63.0  01/01/2011
5            53.0  01/01/2011

In [37]:
# convert community area to integer
alleyLightCleanData['Community Area'] = alleyLightCleanData['Community Area'].astype(int)

# convert date data type to datetime
alleyLightCleanData['Date'] = pd.to_datetime(pd.Series(alleyLightCleanData.Date))

alleyLightCleanData.head()

   Community Area       Date
1              58 2011-01-01
2              53 2011-01-01
3              66 2011-01-01
4              63 2011-01-01
5              53 2011-01-01

In [38]:
# review data info
alleyLightCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188551 entries, 1 to 188599
Data columns (total 2 columns):
Community Area    188551 non-null int32
Date              188551 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 3.6 MB

In [39]:
# clean data to match timeframe as crime file and not contain geographic areas that have a numeric value of 0
alleyLightCleanData = alleyLightCleanData[(alleyLightCleanData['Community Area'] > 0) & (alleyLightCleanData['Date'] >= '2012-01-01')]
alleyLightCleanData.head()

    Community Area       Date
22              67 2012-01-01
23              46 2012-01-01
24              22 2012-01-01
25               5 2012-01-01
26               5 2012-01-01

In [40]:
# groupby community area
alleyLightGroup = alleyLightCleanData.groupby('Community Area').count()
alleyLightGroup = alleyLightGroup.rename(columns={'Date': 'Alley Lights Out'})
alleyLightGroup.head()

                Alley Lights Out
Community Area
1                           1325
2                           2101
3                            833
4                           1061
5                           1020

### Graffiti

> **Description:** All open graffiti removal requests made to 311 and all requests completed since January 1, 2011.

In [41]:
# load graffiti dataset
graffiti = pd.read_csv("data/311_Service_Requests_-_Graffiti_Removal.csv")
graffiti.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,What Type of Surface is the Graffiti on?,Where is the Graffiti located?,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,SSA,Latitude,Longitude,Location
0,01/01/2011,Completed - Dup,01/03/2011,11-00002268,Graffiti Removal,Brick - Unpainted,Front,3701 S WOLCOTT AVE,60609.0,1.164295e+06,1.880150e+06,11.0,9.0,59.0,NaN,41.826680,-87.672589,"(41.82667996575031, -87.67258908007462)"
1,01/01/2011,Completed - Dup,01/03/2011,11-00002378,Graffiti Removal,Aluminum Siding,Garage,1802 N TRIPP AVE,60639.0,1.147772e+06,1.911661e+06,30.0,25.0,20.0,NaN,41.913654,-87.732700,"(41.913654239126494, -87.73269978462665)"
2,01/01/2011,Completed - Dup,01/03/2011,11-00002391,Graffiti Removal,Other / Unknown Surface,Front,4150 N KENMORE AVE,60613.0,1.168431e+06,1.927515e+06,46.0,23.0,3.0,34.0,41.958176,-87.656376,"(41.95817637208573, -87.65637593433681)"
3,01/01/2011,Completed - Dup,01/03/2011,11-00002639,Graffiti Removal,"Cement (Sidewalk, Alley, Wall, Curb)",Front,3035 N HOYNE AVE,60618.0,1.161822e+06,1.920144e+06,32.0,19.0,5.0,NaN,41.936957,-87.680558,"(41.93695732658053, -87.68055828418575)"
4,01/01/2011,Completed - Dup,01/04/2011,11-00001746,Graffiti Removal,Metal,Front,4500 N CENTRAL AVE,60630.0,1.138196e+06,1.929380e+06,38.0,16.0,15.0,NaN,41.962397,-87.767451,"(41.96239659175784, -87.76745051301677)"

In [42]:
# review data info
graffiti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926792 entries, 0 to 926791
Data columns (total 18 columns):
Creation Date                               926792 non-null object
Status                                      926792 non-null object
Completion Date                             926639 non-null object
Service Request Number                      926792 non-null object
Type of Service Request                     926792 non-null object
What Type of Surface is the Graffiti on?    922099 non-null object
Where is the Graffiti located?              921014 non-null object
Street Address                              926792 non-null object
ZIP Code                                    926097 non-null float64
X Coordinate                                926660 non-null float64
Y Coordinate                                926660 non-null float64
Ward                                        926665 non-null float64
Police District                             926664 non-null float64
Community Area                              926665 non-null float64
SSA                                         223357 non-null float64
Latitude                                    926209 non-null float64
Longitude                                   926209 non-null float64
Location                                    926209 non-null object
dtypes: float64(9), object(9)
memory usage: 127.3+ MB

In [43]:
# keep only data needed for analysis
graffitiRelevantData = graffiti[['Community Area', 'Creation Date']]
graffitiRelevantData.head()

   Community Area Creation Date
0            59.0    01/01/2011
1            20.0    01/01/2011
2             3.0    01/01/2011
3             5.0    01/01/2011
4            15.0    01/01/2011

In [44]:
# review data info
graffitiRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926792 entries, 0 to 926791
Data columns (total 2 columns):
Community Area    926665 non-null float64
Creation Date     926792 non-null object
dtypes: float64(1), object(1)
memory usage: 14.1+ MB

In [45]:
#remove the rows with any missing value
graffitiCleanData = graffitiRelevantData.dropna()
graffitiCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926665 entries, 0 to 926791
Data columns (total 2 columns):
Community Area    926665 non-null float64
Creation Date     926665 non-null object
dtypes: float64(1), object(1)
memory usage: 21.2+ MB

In [46]:
# rename date column
graffitiCleanData = graffitiCleanData.rename(columns={'Creation Date': 'Date'})
graffitiCleanData.head()

   Community Area        Date
0            59.0  01/01/2011
1            20.0  01/01/2011
2             3.0  01/01/2011
3             5.0  01/01/2011
4            15.0  01/01/2011

In [47]:
# convert community area to integer
graffitiCleanData['Community Area'] = graffitiCleanData['Community Area'].astype(int)

# convert date data type to datetime
graffitiCleanData['Date'] = pd.to_datetime(pd.Series(graffitiCleanData.Date))

graffitiCleanData.head()

   Community Area       Date
0              59 2011-01-01
1              20 2011-01-01
2               3 2011-01-01
3               5 2011-01-01
4              15 2011-01-01

In [48]:
# review data info
graffitiCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926665 entries, 0 to 926791
Data columns (total 2 columns):
Community Area    926665 non-null int32
Date              926665 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 17.7 MB

In [49]:
# clean data to match timeframe as crime file and not contain geographic areas that have a numeric value of 0
graffitiCleanData = graffitiCleanData[(graffitiCleanData['Community Area'] > 0) & (graffitiCleanData['Date'] >= '2012-01-01')]
graffitiCleanData.head()

    Community Area       Date
45              16 2012-01-01
46              59 2012-01-01
47              60 2012-01-01
48              60 2012-01-01
49              60 2012-01-01

In [50]:
# groupby community area
graffitiGroup = graffitiCleanData.groupby('Community Area').count()
graffitiGroup = graffitiGroup.rename(columns={'Date': 'Graffiti'})
graffitiGroup.head()

                Graffiti
Community Area
1                   9799
2                  15888
3                  10655
4                  18427
5                  16999

### Potholes

> **Description:** The Chicago Department of Transportation (CDOT) oversees the patching of potholes on over 4,000 miles of arterial and residential streets in Chicago. CDOT receives reports of potholes through the 311 call center and uses a computerized mapping and tracking system to identify pothole locations and efficiently schedule crews. Dataset contatins all open requests and all completed requests since January 1, 2011.

In [51]:
# load pothole dataset
pothole = pd.read_csv("data/311_Service_Requests_-_Pot_Holes_Reported.csv")
pothole.head()

,CREATION DATE,STATUS,COMPLETION DATE,SERVICE REQUEST NUMBER,TYPE OF SERVICE REQUEST,CURRENT ACTIVITY,MOST RECENT ACTION,NUMBER OF POTHOLES FILLED ON BLOCK,STREET ADDRESS,ZIP,X COORDINATE,Y COORDINATE,Ward,Police District,Community Area,SSA,LATITUDE,LONGITUDE,LOCATION
0,01/01/2011,Completed - Dup,01/03/2011,11-00002110,Pot Hole in Street,NaN,NaN,NaN,7600 S PARNELL AVE,60620.0,1.173863e+06,1.854506e+06,17.0,6.0,69.0,NaN,41.756078,-87.638540,"(41.75607825280598, -87.63853957634103)"
1,01/01/2011,Completed - Dup,01/03/2011,11-00002209,Pot Hole in Street,NaN,NaN,NaN,7100 S PULASKI RD,60629.0,1.150934e+06,1.857221e+06,13.0,8.0,65.0,3.0,41.764008,-87.722499,"(41.764007749308014, -87.72249910770661)"
2,01/01/2011,Completed - Dup,01/03/2011,11-00002224,Pot Hole in Street,NaN,NaN,NaN,2400 W FULLERTON AVE,60647.0,1.159964e+06,1.915885e+06,1.0,14.0,22.0,NaN,41.925010,-87.687705,"(41.92500993476519, -87.68770475222249)"
3,01/01/2011,Completed - Dup,01/03/2011,11-00002247,Pot Hole in Street,NaN,NaN,NaN,11100 S HALSTED ST,60628.0,1.172963e+06,1.831243e+06,34.0,22.0,75.0,45.0,41.692263,-87.642523,"(41.692263123425136, -87.6425226876268)"
4,01/01/2011,Completed - Dup,01/03/2011,11-00002276,Pot Hole in Street,NaN,NaN,NaN,1200 S CLARK ST,60605.0,1.175703e+06,1.895045e+06,2.0,1.0,33.0,NaN,41.867286,-87.630581,"(41.867286165270755, -87.63058096773683)"

In [52]:
# review data info
pothole.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496020 entries, 0 to 496019
Data columns (total 19 columns):
CREATION DATE                         496020 non-null object
STATUS                                496020 non-null object
COMPLETION DATE                       489508 non-null object
SERVICE REQUEST NUMBER                496020 non-null object
TYPE OF SERVICE REQUEST               496020 non-null object
CURRENT ACTIVITY                      348747 non-null object
MOST RECENT ACTION                    347136 non-null object
NUMBER OF POTHOLES FILLED ON BLOCK    354174 non-null float64
STREET ADDRESS                        496018 non-null object
ZIP                                   493927 non-null float64
X COORDINATE                          495600 non-null float64
Y COORDINATE                          495600 non-null float64
Ward                                  495725 non-null float64
Police District                       495724 non-null float64
Community Area                        495725 non-null float64
SSA                                   78193 non-null float64
LATITUDE                              495277 non-null float64
LONGITUDE                             495277 non-null float64
LOCATION                              495277 non-null object
dtypes: float64(10), object(9)
memory usage: 71.9+ MB

In [53]:
# keep only data needed
potholeRelevantData = pothole[['Community Area', 'CREATION DATE']]
potholeRelevantData.head()

   Community Area CREATION DATE
0            69.0    01/01/2011
1            65.0    01/01/2011
2            22.0    01/01/2011
3            75.0    01/01/2011
4            33.0    01/01/2011

In [54]:
# review data info
potholeRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496020 entries, 0 to 496019
Data columns (total 2 columns):
Community Area    495725 non-null float64
CREATION DATE     496020 non-null object
dtypes: float64(1), object(1)
memory usage: 7.6+ MB

In [55]:
#remove the rows with any missing value
potholeCleanData = potholeRelevantData.dropna()
potholeCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495725 entries, 0 to 496019
Data columns (total 2 columns):
Community Area    495725 non-null float64
CREATION DATE     495725 non-null object
dtypes: float64(1), object(1)
memory usage: 11.3+ MB

In [56]:
# keep only data needed 
potholeCleanData = potholeCleanData.rename(columns={'CREATION DATE': 'Date'})
potholeCleanData.head()

   Community Area        Date
0            69.0  01/01/2011
1            65.0  01/01/2011
2            22.0  01/01/2011
3            75.0  01/01/2011
4            33.0  01/01/2011

In [57]:
# convert community area to integer
potholeCleanData['Community Area'] = potholeCleanData['Community Area'].astype(int)

# convert date data type to datetime
potholeCleanData['Date'] = pd.to_datetime(pd.Series(potholeCleanData.Date))

potholeCleanData.head()

   Community Area       Date
0              69 2011-01-01
1              65 2011-01-01
2              22 2011-01-01
3              75 2011-01-01
4              33 2011-01-01

In [58]:
# review data info
potholeCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495725 entries, 0 to 496019
Data columns (total 2 columns):
Community Area    495725 non-null int32
Date              495725 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 9.5 MB

In [59]:
# clean data to match timeframe as crime file and not contain geographic areas that have a numeric value of 0
potholeCleanData = potholeCleanData[(potholeCleanData['Community Area'] > 0) & (potholeCleanData['Date'] >= '2012-01-01')]
potholeCleanData.head()

    Community Area       Date
58              20 2012-01-01
59              42 2012-01-01
60              16 2012-01-01
61              72 2012-01-01
62              15 2012-01-01

In [60]:
# groupby community area
potholeGroup = potholeCleanData.groupby('Community Area').count()
potholeGroup = potholeGroup.rename(columns={'Date': 'Potholes'})
potholeGroup.head()

                Potholes
Community Area
1                   6596
2                  11757
3                   4152
4                   5576
5                   4847

### Street Lights Out

> **Description:** All open reports of "Street Lights - All Out" (an outage of 3 or more lights) made to 311 and all requests completed since January 1, 2011.The Chicago Department of Transportation (CDOT) oversees approximately 250,000 street lights that illuminate arterial and residential streets in Chicago. CDOT performs repairs and bulb replacements in response to residents’ reports of street light outages.

In [61]:
# load street light out dataset
streetLight = pd.read_csv("data/311_Service_Requests_-_Street_Lights_-_All_Out.csv")
streetLight.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
0,NaN,STATUS,NaN,SERVICE REQUEST NUMBER,TYPE OF SERVICE REQUEST,STREET ADDRESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01/01/2011,Completed - Dup,01/01/2011,11-00003036,Street Lights - All/Out,5143 S KENNETH AVE,60632.0,1.147567e+06,1.870111e+06,23.0,8.0,57.0,41.799538,-87.734365,"(41.799538203122005, -87.73436542052076)"
2,01/01/2011,Completed - Dup,01/02/2011,11-00003203,Street Lights - All/Out,5400 S SAWYER AVE,60632.0,1.155632e+06,1.868632e+06,14.0,8.0,63.0,41.795321,-87.704831,"(41.795321405681925, -87.704831037907)"
3,01/01/2011,Completed - Dup,01/02/2011,11-00003443,Street Lights - All/Out,1162 W 20TH PL,60608.0,1.168968e+06,1.890237e+06,25.0,12.0,31.0,41.854330,-87.655300,"(41.854330415047066, -87.65530003165237)"
4,01/01/2011,Completed - Dup,01/03/2011,11-00000585,Street Lights - All/Out,736 E 92ND ST,60619.0,1.182750e+06,1.844133e+06,6.0,6.0,44.0,41.727507,-87.606146,"(41.72750696638104, -87.60614646759406)"

In [62]:
# review data info
streetLight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278904 entries, 0 to 278903
Data columns (total 15 columns):
Creation Date              278903 non-null object
Status                     278904 non-null object
Completion Date            278762 non-null object
Service Request Number     278904 non-null object
Type of Service Request    278904 non-null object
Street Address             278902 non-null object
ZIP Code                   278333 non-null float64
X Coordinate               278746 non-null float64
Y Coordinate               278746 non-null float64
Ward                       278789 non-null float64
Police District            278789 non-null float64
Community Area             278791 non-null float64
Latitude                   278746 non-null float64
Longitude                  278746 non-null float64
Location                   278746 non-null object
dtypes: float64(8), object(7)
memory usage: 31.9+ MB

In [63]:
# keep only data needed
streetLightRelevantData = streetLight[['Community Area', 'Creation Date']]
streetLightRelevantData.head()

   Community Area Creation Date
0             NaN           NaN
1            57.0    01/01/2011
2            63.0    01/01/2011
3            31.0    01/01/2011
4            44.0    01/01/2011

In [64]:
# review data info
streetLightRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278904 entries, 0 to 278903
Data columns (total 2 columns):
Community Area    278791 non-null float64
Creation Date     278903 non-null object
dtypes: float64(1), object(1)
memory usage: 4.3+ MB

In [65]:
#remove the rows with any missing value
streetLightCleanData = streetLightRelevantData.dropna()
streetLightCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278791 entries, 1 to 278903
Data columns (total 2 columns):
Community Area    278791 non-null float64
Creation Date     278791 non-null object
dtypes: float64(1), object(1)
memory usage: 6.4+ MB

In [66]:
# rename date column
streetLightCleanData = streetLightCleanData.rename(columns={'Creation Date': 'Date'})
streetLightCleanData.head()

   Community Area        Date
1            57.0  01/01/2011
2            63.0  01/01/2011
3            31.0  01/01/2011
4            44.0  01/01/2011
5            61.0  01/01/2011

In [67]:
# convert community area to integer
streetLightCleanData['Community Area'] = streetLightCleanData['Community Area'].astype(int)

# convert date data type to datetime
streetLightCleanData['Date'] = pd.to_datetime(pd.Series(streetLightCleanData.Date))

streetLightCleanData.head()

   Community Area       Date
1              57 2011-01-01
2              63 2011-01-01
3              31 2011-01-01
4              44 2011-01-01
5              61 2011-01-01

In [68]:
# review data info
streetLightCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278791 entries, 1 to 278903
Data columns (total 2 columns):
Community Area    278791 non-null int32
Date              278791 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 5.3 MB

In [69]:
# clean data to match timeframe as crime file and not contain geographic areas that have a numeric value of 0
streetLightCleanData = streetLightCleanData[(streetLightCleanData['Community Area'] > 0) & (streetLightCleanData['Date'] >= '2012-01-01')]
streetLightCleanData.head()

     Community Area       Date
148              67 2012-01-01
149              67 2012-01-01
150              64 2012-01-01
151               6 2012-01-01
152              30 2012-01-01

In [70]:
# groupby community area
streetLightGroup = streetLightCleanData.groupby('Community Area').count()
streetLightGroup = streetLightGroup.rename(columns={'Date': 'Street Lights Out'})
streetLightGroup.head()

                Street Lights Out
Community Area
1                            1378
2                            2473
3                            1273
4                            1612
5                            1487

### Vacant & Abandonded Buildings

> **Description:** All 311 calls for open and vacant buildings reported to the City of Chicago since January 1, 2010. The information is updated daily with the previous day's calls added to the records. The data set provides the date of the 311 service request and the unique Service Request # attached to each request. For each request, the following information (as reported by the 311 caller) is available: address location of building; whether building is vacant or occupied; whether the building is open or boarded; entry point if building is open; whether non-residents are occupying or using the building, if the building appears dangerous or hazardous and if the building is vacant due to a fire.

In [71]:
# load vacant & abandonded building dataset
building = pd.read_csv("data/311_Service_Requests_-_Vacant_and_Abandoned_Buildings_Reported.csv")
building.head()

c:\users\sneak\anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (4,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SERVICE REQUEST TYPE,SERVICE REQUEST NUMBER,DATE SERVICE REQUEST WAS RECEIVED,"LOCATION OF BUILDING ON THE LOT (IF GARAGE, CHANGE TYPE CODE TO BGD).",IS THE BUILDING DANGEROUS OR HAZARDOUS?,IS BUILDING OPEN OR BOARDED?,"IF THE BUILDING IS OPEN, WHERE IS THE ENTRY POINT?",IS THE BUILDING CURRENTLY VACANT OR OCCUPIED?,IS THE BUILDING VACANT DUE TO FIRE?,"ANY PEOPLE USING PROPERTY? (HOMELESS, CHILDEN, GANGS)",...,ADDRESS STREET SUFFIX,ZIP CODE,X COORDINATE,Y COORDINATE,Ward,Police District,Community Area,LATITUDE,LONGITUDE,Location
0,SERVICE REQUEST TYPE,SERVICE REQUEST #,NaN,"LOCATION OF BUILDING ON THE LOT (IF GARAGE, CH...",IS THE BUILDING DANGEROUS OR HAZARDOUS?,IS BUILDING OPEN OR BOARDED?,"IF THE BUILDING IS OPEN, WHERE IS THE ENTRY PO...",IS THE BUILDING CURRENTLY VACANT OR OCCUPIED?,NaN,NaN,...,ADDRESS STREET SUFFIX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vacant/Abandoned Building,08-00109075,01/18/2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ST,60613.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Vacant/Abandoned Building,08-00577896,04/03/2008,NaN,NaN,Building is Open / Unsecure,NaN,Vacant,NaN,NaN,...,ST,60621.0,1.170179e+06,1.858859e+06,17.0,7.0,68.0,41.768198,-87.651771,"(41.76819814695611, -87.65177097869127)"
3,Vacant/Abandoned Building,08-00588295,04/05/2008,NaN,NaN,Building is Open / Unsecure,"GARAGE, VAGRANTS BROKE INTO GARAGE AND USE IT ...",Vacant,NaN,True,...,AVE,60619.0,1.182657e+06,1.850683e+06,6.0,6.0,44.0,41.745482,-87.606287,"(41.745482414802325, -87.60628681474407)"
4,Vacant/Abandoned Building,08-01476976,07/30/2008,NaN,NaN,Building is Open / Unsecure,REAR,Vacant,NaN,NaN,...,AVE,60621.0,1.174523e+06,1.857609e+06,6.0,7.0,68.0,41.764674,-87.635884,"(41.764673747551555, -87.63588403606937)"

In [72]:
# review data info
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61263 entries, 0 to 61262
Data columns (total 23 columns):
SERVICE REQUEST TYPE                                                     61263 non-null object
SERVICE REQUEST NUMBER                                                   61263 non-null object
DATE SERVICE REQUEST WAS RECEIVED                                        61262 non-null object
LOCATION OF BUILDING ON THE LOT (IF GARAGE, CHANGE TYPE CODE TO BGD).    52997 non-null object
IS THE BUILDING DANGEROUS OR HAZARDOUS?                                  1 non-null object
IS BUILDING OPEN OR BOARDED?                                             53514 non-null object
IF THE BUILDING IS OPEN, WHERE IS THE ENTRY POINT?                       32623 non-null object
IS THE BUILDING CURRENTLY VACANT OR OCCUPIED?                            53522 non-null object
IS THE BUILDING VACANT DUE TO FIRE?                                      52659 non-null object
ANY PEOPLE USING PROPERTY? (HOMELESS, CHILDEN, GANGS)                    53223 non-null object
ADDRESS STREET NUMBER                                                    61262 non-null object
ADDRESS STREET DIRECTION                                                 61261 non-null object
ADDRESS STREET NAME                                                      61262 non-null object
ADDRESS STREET SUFFIX                                                    60960 non-null object
ZIP CODE                                                                 60863 non-null float64
X COORDINATE                                                             61226 non-null float64
Y COORDINATE                                                             61226 non-null float64
Ward                                                                     61223 non-null float64
Police District                                                          61223 non-null float64
Community Area                                                           61223 non-null float64
LATITUDE                                                                 61218 non-null float64
LONGITUDE                                                                61218 non-null float64
Location                                                                 61218 non-null object
dtypes: float64(8), object(15)
memory usage: 10.8+ MB

In [73]:
# keep only data needed
buildingRelevantData = building[['Community Area', 'DATE SERVICE REQUEST WAS RECEIVED']]
buildingRelevantData.head()

   Community Area DATE SERVICE REQUEST WAS RECEIVED
0             NaN                               NaN
1             NaN                        01/18/2008
2            68.0                        04/03/2008
3            44.0                        04/05/2008
4            68.0                        07/30/2008

In [74]:
# review data info
buildingRelevantData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61263 entries, 0 to 61262
Data columns (total 2 columns):
Community Area                       61223 non-null float64
DATE SERVICE REQUEST WAS RECEIVED    61262 non-null object
dtypes: float64(1), object(1)
memory usage: 957.3+ KB

In [75]:
#remove the rows with any missing value
buildingCleanData = buildingRelevantData.dropna()
buildingCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61223 entries, 2 to 61262
Data columns (total 2 columns):
Community Area                       61223 non-null float64
DATE SERVICE REQUEST WAS RECEIVED    61223 non-null object
dtypes: float64(1), object(1)
memory usage: 1.4+ MB

In [76]:
# rename date column
buildingCleanData = buildingCleanData.rename(columns={'DATE SERVICE REQUEST WAS RECEIVED': 'Date'})
buildingCleanData.head()

   Community Area        Date
2            68.0  04/03/2008
3            44.0  04/05/2008
4            68.0  07/30/2008
5            67.0  08/07/2008
6            23.0  08/12/2008

In [77]:
# convert community area to integer
buildingCleanData['Community Area'] = buildingCleanData['Community Area'].astype(int)

# convert date data type to datetime
buildingCleanData['Date'] = pd.to_datetime(pd.Series(buildingCleanData.Date))

buildingCleanData.head()

   Community Area       Date
2              68 2008-04-03
3              44 2008-04-05
4              68 2008-07-30
5              67 2008-08-07
6              23 2008-08-12

In [78]:
# review data info
buildingCleanData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61223 entries, 2 to 61262
Data columns (total 2 columns):
Community Area    61223 non-null int32
Date              61223 non-null datetime64[ns]
dtypes: datetime64[ns](1), int32(1)
memory usage: 1.2 MB

In [79]:
# clean data to match timeframe as crime file and not contain geographic areas that have a numeric value of 0
buildingCleanData = buildingCleanData[(buildingCleanData['Community Area'] > 0) & (buildingCleanData['Date'] >= '2012-01-01')]
buildingCleanData.head()

       Community Area       Date
20313              68 2012-01-06
20364              67 2012-01-06
20414              66 2012-01-06
20513              71 2012-01-06
20589              67 2012-01-27

In [80]:
# groupby community area
buildingGroup = buildingCleanData.groupby('Community Area').count()
buildingGroup = buildingGroup.rename(columns={'Date': 'Vacant Buildings'})
buildingGroup.head()

                Vacant Buildings
Community Area
1                             49
2                            118
3                             65
4                             75
5                             94

### 2010 Census Population

> **Description:** The population living in each of the 77 designated Community Areas, as defined by the city of Chicago, when the 2010 U.S. Census was conducted.

In [81]:
# load population dataset
population = pd.read_csv("data/2010 Census Community Area Population.csv")
population.head()

   Community Area  2010 Census Population
0               1                   54991
1               2                   71942
2               3                   56362
3               4                   39493
4               5                   31867

In [82]:
# review data info
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 2 columns):
Community Area            77 non-null int64
2010 Census Population    77 non-null int64
dtypes: int64(2)
memory usage: 1.3 KB

#### Population dataset is already in format we need. No further ETL is needed to prep it.

# Join Tables

In [83]:
# load 2010 population dataset
population = pd.read_csv("data/2010 Census Community Area Population.csv")

# load transformed datasets
alleyLightGroup = pd.read_csv("data/Tableau_alleyLightGroup.csv")
buildingGroup = pd.read_csv("data/Tableau_buildingGroup.csv")
graffitiGroup = pd.read_csv("data/Tableau_graffitiGroup.csv")
potholeGroup = pd.read_csv("data/Tableau_potholeGroup.csv")
streetLightGroup = pd.read_csv("data/Tableau_streetLightGroup.csv")
vehicleGroup = pd.read_csv("data/Tableau_vehicleGroup.csv")
crimeGroup = pd.read_csv("data/Tableau_crimeGroup.csv")
populationGroup = pd.read_csv("data/Tableau_populationGroup.csv")

# join tables
geographicDescriptors = socioeconomic.merge(alleyLightGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(buildingGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(graffitiGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(potholeGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(streetLightGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(vehicleGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(crimeGroup, on='Community Area')
geographicDescriptors = geographicDescriptors.merge(population, on='Community Area')

# review merged tables
geographicDescriptors

,Community Area Name,Community Area,Hardship Index Score,Percent of Crowded Housing,Percent of Households With Income Below Poverty Level,Unemployment Rate for Population Age 16 and Over,Percent Aged 25 and Over with no High School Diploma,Percent of Population Under Age 18 and Over Age 64,Per Capita Income,Alley Lights Out,Vacant Buildings,Graffiti,Potholes,Street Lights Out,Abandoned Vehicles,Crime Type_PERSONS,Crime Type_PROPERTY,Crime Type_SOCIETY,Total Crime,2010 Census Population
0,Rogers Park,1,39.7,7.1,24.0,9.3,16.4,27.2,24323,1325,49,9799,6596,1378,2811,6036.0,10018.0,4446.0,20500.0,54991
1,West Ridge,2,44.3,7.6,17.4,10.0,17.1,38.3,23498,2101,118,15888,11757,2473,4770,4550.0,9759.0,3427.0,17736.0,71942
2,Uptown,3,29.9,3.8,23.9,10.1,10.8,23.3,37180,833,65,10655,4152,1273,1737,5099.0,10118.0,5155.0,20372.0,56362
3,Lincoln Square,4,23.8,1.6,12.7,7.9,10.6,26.0,39524,1061,75,18427,5576,1612,2250,2399.0,5924.0,1932.0,10255.0,39493
4,North Center,5,14.9,0.6,6.1,4.6,6.0,27.8,56893,1020,94,16999,4847,1487,2219,1191.0,5558.0,1243.0,7992.0,31867
5,Lakeview,6,9.6,1.0,11.3,4.2,2.4,17.6,61610,1732,95,23161,9252,2114,2384,5724.0,21061.0,5253.0,32038.0,94368
6,Lincoln Park,7,11.1,0.7,12.5,4.8,3.1,22.7,68682,1372,86,14397,8474,2542,1742,2683.0,16154.0,2900.0,21737.0,64116
7,Near North Side,8,8.6,1.3,12.2,6.7,2.4,22.6,86068,457,42,10482,9187,2317,870,8461.0,31805.0,10024.0,50290.0,80484
8,Edison Park,9,24.4,1.9,2.9,6.7,7.8,36.3,40833,693,10,195,4023,722,520,357.0,727.0,349.0,1433.0,11187
9,Norwood Park,10,28.6,1.1,7.6,8.4,7.8,39.7,35120,2161,93,1287,11411,2592,2093,1559.0,3636.0,1383.0,6578.0,37023
10,Jefferson Park,11,33.7,3.3,10.3,10.3,13.4,36.1,30964,1477,76,3234,5612,1512,2631,1424.0,3562.0,1247.0,6233.0,25448
11,Forest Glen,12,25.6,1.0,6.8,6.2,4.8,42.0,43682,931,35,1217,6377,1609,1080,420.0,1624.0,499.0,2543.0,18508
12,North Park,13,37.2,3.2,13.6,10.0,12.0,40.9,26931,704,26,4667,3953,1157,1371,917.0,2988.0,806.0,4711.0,17931
13,Albany Park,14,47.0,9.5,18.3,10.0,26.9,32.2,23240,1561,142,20387,6204,1286,2978,3559.0,7196.0,2285.0,13040.0,51542
14,Portage Park,15,36.3,2.9,14.2,11.9,18.1,32.5,24459,3738,193,16619,10463,4320,6185,4402.0,10119.0,3773.0,18294.0,64124
15,Irving Park,16,38.2,5.9,13.7,9.1,21.2,31.1,26001,2373,210,26506,9272,2520,5648,4042.0,9603.0,2720.0,16365.0,53359
16,Dunning,17,31.9,1.6,11.1,9.4,14.4,33.9,26229,2533,176,4952,8012,2491,4405,2174.0,4819.0,1781.0,8774.0,41932
17,Montclare,18,46.2,6.8,16.2,12.3,23.9,36.5,19895,662,53,1862,2531,940,1378,809.0,1815.0,607.0,3231.0,13426
18,Belmont Cragin,19,57.0,9.7,18.5,14.2,38.8,37.3,15978,3499,463,31294,10087,3298,5385,7682.0,13332.0,5777.0,26791.0,78743
19,Hermosa,20,55.2,7.0,23.5,12.4,41.5,36.1,14789,1179,110,9909,2637,1123,1511,2576.0,4485.0,2077.0,9138.0,25010
20,Avondale,21,40.3,4.7,17.2,8.5,26.2,31.2,21240,1527,264,30494,5630,1733,2823,3090.0,7693.0,2153.0,12936.0,39262
21,Logan Square,22,29.5,3.6,16.6,7.1,13.8,26.5,33123,2756,374,50702,11580,3757,4770,6066.0,17995.0,4124.0,28185.0,73595
22,Humboldt Park,23,63.6,12.1,32.3,17.5,30.6,38.3,14366,3770,1499,11637,6696,4245,3544,13136.0,17405.0,16552.0,47093.0,56323
23,West Town,24,22.3,2.4,13.3,7.5,12.2,22.1,44373,3155,374,54401,12896,4345,5028,7809.0,27748.0,5275.0,40832.0,81432
24,Austin,25,55.7,5.5,29.8,22.1,24.5,39.0,15478,6977,2130,5219,13513,8801,5251,27583.0,34981.0,32166.0,94730.0,98514
25,West Garfield Park,26,66.5,9.0,44.2,20.5,27.1,42.2,11309,1310,1112,1237,2078,2504,1128,7923.0,9323.0,14214.0,31460.0,18001
26,East Garfield Park,27,58.8,6.2,41.5,20.6,21.0,39.1,13223,1048,802,2016,3050,2570,1385,8652.0,9744.0,10442.0,28838.0,20567
27,Near West Side,28,26.8,4.3,21.4,10.7,8.4,21.1,43503,1351,224,16567,10383,4455,1999,9417.0,26457.0,7627.0,43501.0,54881
28,North Lawndale,29,65.1,7.2,41.6,25.4,26.9,40.7,11686,1879,1378,4039,4644,4217,1921,14277.0,16435.0,15439.0,46151.0,35912
29,South Lawndale,30,73.6,15.5,33.3,15.5,54.2,34.9,10138,2594,447,46685,7304,3476,3024,7879.0,11320.0,5706.0,24905.0,79288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,Calumet Heights,48,39.7,1.5,10.7,21.2,10.5,42.5,27390,1650,316,704,3488,2683,928,2059.0,4443.0,1534.0,8036.0,13812
48,Roseland,49,50.5,2.8,23.6,24.9,16.2,41.9,17146,4923,2403,1331,7862,7759,2326,11733.0,17455.0,9039.0,38227.0,44619
49,Pullman,50,45.4,1.0,24.8,25.7,15.4,36.0,20312,579,253,272,1521,784,537,1927.0,2802.0,1160.0,5889.0,7325
50,South Deering,51,52.6,3.8,27.4,21.7,21.3,40.3,15213,1038,407,2256,3471,2949,694,3156.0,5337.0,2108.0,10601.0,15109
51,East Side,52,53.9,6.8,17.2,17.8,30.0,41.2,17019,2096,209,7304,3339,3059,1369,2231.0,3463.0,1614.0,7308.0,23042
52,West Pullman,53,53.8,3.5,29.4,25.6,19.0,40.5,16259,4291,1675,1048,5634,5179,1227,7301.0,10325.0,5646.0,23272.0,29651
53,Riverdale,54,82.7,8.0,58.0,40.4,26.5,49.1,7478,93,89,70,1241,573,103,3009.0,2774.0,1176.0,6959.0,6482
54,Hegewisch,55,40.2,3.2,16.3,9.4,18.0,40.9,24036,1027,115,1235,1902,1487,433,979.0,1555.0,675.0,3209.0,9426
55,Garfield Ridge,56,35.4,2.3,8.3,12.0,17.8,36.9,26893,3897,151,9360,8395,3484,2668,2211.0,5608.0,2659.0,10478.0,34513
56,Archer Heights,57,54.4,9.8,14.6,14.3,32.2,38.5,16507,846,122,19107,2734,692,1760,1164.0,3259.0,933.0,5356.0,13393
57,Brighton Park,58,65.4,12.6,24.9,14.8,45.7,37.5,12981,2298,374,39562,5040,2399,3130,4127.0,7091.0,3237.0,14455.0,45368
58,McKinley Park,59,50.0,5.8,21.6,14.0,31.1,35.8,17374,1278,121,23788,2702,1345,1616,1375.0,3385.0,1081.0,5841.0,15612
59,Bridgeport,60,41.2,4.3,20.1,13.2,23.1,30.2,22319,1567,154,14651,2987,1625,3048,2259.0,5384.0,1552.0,9195.0,31977
60,New City,61,69.1,11.6,31.8,24.9,37.3,38.8,12426,2224,1727,14576,6115,3785,2223,8880.0,12292.0,6943.0,28115.0,44377
61,West Elsdon,62,52.3,8.3,15.2,13.4,31.0,38.7,15921,1571,58,14057,3347,1100,1824,1147.0,3632.0,1057.0,5836.0,18109
62,Gage Park,63,70.6,15.4,23.8,16.2,48.9,38.5,11814,1884,414,29502,4989,2124,2510,3650.0,6969.0,2857.0,13476.0,39894
63,Clearing,64,35.9,2.9,9.6,10.3,16.5,37.2,24451,3846,57,2912,4727,2054,2114,1348.0,2812.0,1155.0,5315.0,23139
64,West Lawn,65,50.9,6.8,16.2,12.9,33.5,38.1,17237,3423,85,11728,6572,1706,3209,2184.0,7120.0,1746.0,11050.0,33355
65,Chicago Lawn,66,61.1,7.6,31.4,22.4,30.3,38.8,12673,3126,1264,15706,6925,4374,3699,10199.0,15986.0,8393.0,34578.0,55628
66,West Englewood,67,64.8,4.8,34.6,36.8,25.3,40.4,12073,2503,3778,2229,5335,4498,1496,13459.0,17019.0,10803.0,41281.0,35505
67,Englewood,68,68.9,4.1,48.3,36.8,28.5,39.5,11281,1721,2668,1376,3662,3924,1051,13108.0,15566.0,9345.0,38019.0,30654
68,Greater Grand Crossing,69,54.8,4.2,34.6,25.8,15.1,40.1,16324,2457,1593,763,6124,4537,2119,12130.0,16343.0,8268.0,36741.0,32602
69,Ashburn,70,37.6,3.5,10.8,13.0,16.3,35.7,23404,3582,299,7992,7964,4627,2508,3147.0,7587.0,2577.0,13311.0,41081
70,Auburn Gresham,71,53.5,2.8,28.4,28.0,17.9,40.7,16432,4594,1799,1262,8900,6160,2662,13292.0,18566.0,9776.0,41634.0,48743
71,Beverly,72,23.3,1.2,4.2,7.4,2.7,38.0,41789,1419,96,487,6047,2750,613,1000.0,3072.0,1030.0,5102.0,20034
72,Washington Heights,73,42.7,1.5,17.2,23.2,11.2,38.8,19806,2969,761,400,5883,4349,1662,4889.0,8481.0,4164.0,17534.0,26493
73,Mount Greenwood,74,26.6,2.0,4.7,8.6,4.7,36.7,33893,974,68,707,3892,1700,451,866.0,1685.0,695.0,3246.0,19093
74,Morgan Park,75,37.2,1.9,14.4,14.0,11.2,39.5,25167,1909,456,325,5033,3373,829,3121.0,5714.0,2636.0,11471.0,22544
75,O'Hare,76,36.7,4.7,18.1,8.9,11.7,33.6,23908,31,8,648,1661,377,343,1233.0,4444.0,3780.0,9457.0,12756
76,Edgewater,77,28.6,4.2,17.6,9.3,9.2,24.7,35300,1162,75,9250,6801,1502,2492,3150.0,7343.0,2516.0,13009.0,56521

In [84]:
# rename columns for easier modeling & analysis
geographicDescriptors = geographicDescriptors.rename(columns={'2010 Census Population': 'Pop'})
geographicDescriptors = geographicDescriptors.rename(columns={'Per Capita Income': 'Income'})
geographicDescriptors = geographicDescriptors.rename(columns={'Percent of Households With Income Below Poverty Level': 'Poverty'})
geographicDescriptors = geographicDescriptors.rename(columns={'Percent of Crowded Housing': 'CrowdedHousing'})
geographicDescriptors = geographicDescriptors.rename(columns={'Unemployment Rate for Population Age 16 and Over': 'Unemployed'})
geographicDescriptors = geographicDescriptors.rename(columns={'Percent Aged 25 and Over with no High School Diploma': 'NoDiploma'})
geographicDescriptors = geographicDescriptors.rename(columns={'Percent of Population Under Age 18 and Over Age 64': 'Dependency'})
geographicDescriptors = geographicDescriptors.rename(columns={'Hardship Index Score': 'Hardship'})
geographicDescriptors = geographicDescriptors.rename(columns={'Vacant Buildings': 'VacantBuildings'})
geographicDescriptors = geographicDescriptors.rename(columns={'Abandoned Vehicles': 'AbandonedVehicles'})
geographicDescriptors = geographicDescriptors.rename(columns={'Street Lights Out': 'StreetLights'})
geographicDescriptors = geographicDescriptors.rename(columns={'Alley Lights Out': 'AlleyLights'})
geographicDescriptors = geographicDescriptors.rename(columns={'Crime Type_PERSONS': 'CrimePerson'})
geographicDescriptors = geographicDescriptors.rename(columns={'Crime Type_PROPERTY': 'CrimeProperty'})
geographicDescriptors = geographicDescriptors.rename(columns={'Crime Type_SOCIETY': 'CrimeSociety'})
geographicDescriptors = geographicDescriptors.rename(columns={'Total Crime': 'CrimeTotal'})
geographicDescriptors.head()

,Community Area Name,Community Area,Hardship,CrowdedHousing,Poverty,Unemployed,NoDiploma,Dependency,Income,AlleyLights,VacantBuildings,Graffiti,Potholes,StreetLights,AbandonedVehicles,CrimePerson,CrimeProperty,CrimeSociety,CrimeTotal,Pop
0,Rogers Park,1,39.7,7.1,24.0,9.3,16.4,27.2,24323,1325,49,9799,6596,1378,2811,6036.0,10018.0,4446.0,20500.0,54991
1,West Ridge,2,44.3,7.6,17.4,10.0,17.1,38.3,23498,2101,118,15888,11757,2473,4770,4550.0,9759.0,3427.0,17736.0,71942
2,Uptown,3,29.9,3.8,23.9,10.1,10.8,23.3,37180,833,65,10655,4152,1273,1737,5099.0,10118.0,5155.0,20372.0,56362
3,Lincoln Square,4,23.8,1.6,12.7,7.9,10.6,26.0,39524,1061,75,18427,5576,1612,2250,2399.0,5924.0,1932.0,10255.0,39493
4,North Center,5,14.9,0.6,6.1,4.6,6.0,27.8,56893,1020,94,16999,4847,1487,2219,1191.0,5558.0,1243.0,7992.0,31867

In [85]:
# convert to proper decimal layout to represent percentage
geographicDescriptors['CrowdedHousing'] = (geographicDescriptors['CrowdedHousing'] / 100)
geographicDescriptors['Poverty'] = (geographicDescriptors['Poverty'] / 100)
geographicDescriptors['Unemployed'] = (geographicDescriptors['Unemployed'] / 100)
geographicDescriptors['NoDiploma'] = (geographicDescriptors['NoDiploma'] / 100)
geographicDescriptors['Dependency'] = (geographicDescriptors['Dependency'] / 100)

# convert raw values to percentage of population / per capita
geographicDescriptors['VacantBuildings'] = geographicDescriptors['VacantBuildings'] / geographicDescriptors['Pop']
geographicDescriptors['AbandonedVehicles'] = geographicDescriptors['AbandonedVehicles'] / geographicDescriptors['Pop']
geographicDescriptors['StreetLights'] = geographicDescriptors['StreetLights'] / geographicDescriptors['Pop']
geographicDescriptors['AlleyLights'] = geographicDescriptors['AlleyLights'] / geographicDescriptors['Pop']
geographicDescriptors['Potholes'] = geographicDescriptors['Potholes'] / geographicDescriptors['Pop']
geographicDescriptors['Graffiti'] = geographicDescriptors['Graffiti'] / geographicDescriptors['Pop']
geographicDescriptors['CrimePerson'] = geographicDescriptors['CrimePerson'] / geographicDescriptors['Pop']
geographicDescriptors['CrimeProperty'] = geographicDescriptors['CrimeProperty'] / geographicDescriptors['Pop']
geographicDescriptors['CrimeSociety'] = geographicDescriptors['CrimeSociety'] / geographicDescriptors['Pop']
geographicDescriptors['CrimeTotal'] = geographicDescriptors['CrimeTotal'] / geographicDescriptors['Pop']

geographicDescriptors

,Community Area Name,Community Area,Hardship,CrowdedHousing,Poverty,Unemployed,NoDiploma,Dependency,Income,AlleyLights,VacantBuildings,Graffiti,Potholes,StreetLights,AbandonedVehicles,CrimePerson,CrimeProperty,CrimeSociety,CrimeTotal,Pop
0,Rogers Park,1,39.7,0.071,0.240,0.093,0.164,0.272,24323,0.024095,0.000891,0.178193,0.119947,0.025059,0.051117,0.109763,0.182175,0.080850,0.372788,54991
1,West Ridge,2,44.3,0.076,0.174,0.100,0.171,0.383,23498,0.029204,0.001640,0.220845,0.163423,0.034375,0.066303,0.063245,0.135651,0.047636,0.246532,71942
2,Uptown,3,29.9,0.038,0.239,0.101,0.108,0.233,37180,0.014779,0.001153,0.189046,0.073667,0.022586,0.030819,0.090469,0.179518,0.091462,0.361449,56362
3,Lincoln Square,4,23.8,0.016,0.127,0.079,0.106,0.260,39524,0.026866,0.001899,0.466589,0.141190,0.040817,0.056972,0.060745,0.150001,0.048920,0.259666,39493
4,North Center,5,14.9,0.006,0.061,0.046,0.060,0.278,56893,0.032008,0.002950,0.533436,0.152101,0.046663,0.069633,0.037374,0.174412,0.039006,0.250792,31867
5,Lakeview,6,9.6,0.010,0.113,0.042,0.024,0.176,61610,0.018354,0.001007,0.245433,0.098042,0.022402,0.025263,0.060656,0.223179,0.055665,0.339501,94368
6,Lincoln Park,7,11.1,0.007,0.125,0.048,0.031,0.227,68682,0.021399,0.001341,0.224546,0.132167,0.039647,0.027170,0.041846,0.251950,0.045231,0.339026,64116
7,Near North Side,8,8.6,0.013,0.122,0.067,0.024,0.226,86068,0.005678,0.000522,0.130237,0.114147,0.028788,0.010810,0.105126,0.395172,0.124546,0.624845,80484
8,Edison Park,9,24.4,0.019,0.029,0.067,0.078,0.363,40833,0.061947,0.000894,0.017431,0.359614,0.064539,0.046483,0.031912,0.064986,0.031197,0.128095,11187
9,Norwood Park,10,28.6,0.011,0.076,0.084,0.078,0.397,35120,0.058369,0.002512,0.034762,0.308214,0.070011,0.056532,0.042109,0.098209,0.037355,0.177673,37023
10,Jefferson Park,11,33.7,0.033,0.103,0.103,0.134,0.361,30964,0.058040,0.002986,0.127083,0.220528,0.059415,0.103387,0.055957,0.139972,0.049002,0.244931,25448
11,Forest Glen,12,25.6,0.010,0.068,0.062,0.048,0.420,43682,0.050303,0.001891,0.065755,0.344554,0.086935,0.058353,0.022693,0.087746,0.026961,0.137400,18508
12,North Park,13,37.2,0.032,0.136,0.100,0.120,0.409,26931,0.039262,0.001450,0.260276,0.220456,0.064525,0.076460,0.051140,0.166639,0.044950,0.262729,17931
13,Albany Park,14,47.0,0.095,0.183,0.100,0.269,0.322,23240,0.030286,0.002755,0.395542,0.120368,0.024951,0.057778,0.069050,0.139614,0.044333,0.252998,51542
14,Portage Park,15,36.3,0.029,0.142,0.119,0.181,0.325,24459,0.058293,0.003010,0.259170,0.163168,0.067369,0.096454,0.068648,0.157804,0.058839,0.285291,64124
15,Irving Park,16,38.2,0.059,0.137,0.091,0.212,0.311,26001,0.044472,0.003936,0.496748,0.173766,0.047227,0.105849,0.075751,0.179970,0.050975,0.306696,53359
16,Dunning,17,31.9,0.016,0.111,0.094,0.144,0.339,26229,0.060407,0.004197,0.118096,0.191071,0.059406,0.105051,0.051846,0.114924,0.042474,0.209244,41932
17,Montclare,18,46.2,0.068,0.162,0.123,0.239,0.365,19895,0.049307,0.003948,0.138686,0.188515,0.070013,0.102637,0.060256,0.135185,0.045211,0.240652,13426
18,Belmont Cragin,19,57.0,0.097,0.185,0.142,0.388,0.373,15978,0.044436,0.005880,0.397419,0.128100,0.041883,0.068387,0.097558,0.169310,0.073365,0.340233,78743
19,Hermosa,20,55.2,0.070,0.235,0.124,0.415,0.361,14789,0.047141,0.004398,0.396202,0.105438,0.044902,0.060416,0.102999,0.179328,0.083047,0.365374,25010
20,Avondale,21,40.3,0.047,0.172,0.085,0.262,0.312,21240,0.038893,0.006724,0.776680,0.143396,0.044139,0.071902,0.078702,0.195940,0.054837,0.329479,39262
21,Logan Square,22,29.5,0.036,0.166,0.071,0.138,0.265,33123,0.037448,0.005082,0.688933,0.157348,0.051050,0.064814,0.082424,0.244514,0.056036,0.382974,73595
22,Humboldt Park,23,63.6,0.121,0.323,0.175,0.306,0.383,14366,0.066935,0.026614,0.206612,0.118886,0.075369,0.062923,0.233226,0.309021,0.293876,0.836124,56323
23,West Town,24,22.3,0.024,0.133,0.075,0.122,0.221,44373,0.038744,0.004593,0.668054,0.158365,0.053357,0.061745,0.095896,0.340751,0.064778,0.501425,81432
24,Austin,25,55.7,0.055,0.298,0.221,0.245,0.390,15478,0.070822,0.021621,0.052977,0.137168,0.089338,0.053302,0.279991,0.355087,0.326512,0.961589,98514
25,West Garfield Park,26,66.5,0.090,0.442,0.205,0.271,0.422,11309,0.072774,0.061774,0.068718,0.115438,0.139103,0.062663,0.440142,0.517916,0.789623,1.747681,18001
26,East Garfield Park,27,58.8,0.062,0.415,0.206,0.210,0.391,13223,0.050955,0.038995,0.098021,0.148296,0.124957,0.067341,0.420674,0.473769,0.507707,1.402149,20567
27,Near West Side,28,26.8,0.043,0.214,0.107,0.084,0.211,43503,0.024617,0.004082,0.301871,0.189191,0.081176,0.036424,0.171589,0.482079,0.138973,0.792642,54881
28,North Lawndale,29,65.1,0.072,0.416,0.254,0.269,0.407,11686,0.052322,0.038372,0.112469,0.129316,0.117426,0.053492,0.397555,0.457646,0.429912,1.285114,35912
29,South Lawndale,30,73.6,0.155,0.333,0.155,0.542,0.349,10138,0.032716,0.005638,0.588803,0.092120,0.043840,0.038139,0.099372,0.142771,0.071965,0.314108,79288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,Calumet Heights,48,39.7,0.015,0.107,0.212,0.105,0.425,27390,0.119461,0.022879,0.050970,0.252534,0.194251,0.067188,0.149073,0.321677,0.111063,0.581813,13812
48,Roseland,49,50.5,0.028,0.236,0.249,0.162,0.419,17146,0.110334,0.053856,0.029830,0.176203,0.173895,0.052130,0.262960,0.391201,0.202582,0.856743,44619
49,Pullman,50,45.4,0.010,0.248,0.257,0.154,0.360,20312,0.079044,0.034539,0.037133,0.207645,0.107031,0.073311,0.263072,0.382526,0.158362,0.803959,7325
50,South Deering,51,52.6,0.038,0.274,0.217,0.213,0.403,15213,0.068701,0.026938,0.149315,0.229731,0.195182,0.045933,0.208882,0.353233,0.139519,0.701635,15109
51,East Side,52,53.9,0.068,0.172,0.178,0.300,0.412,17019,0.090964,0.009070,0.316986,0.144909,0.132758,0.059413,0.096823,0.150291,0.070046,0.317160,23042
52,West Pullman,53,53.8,0.035,0.294,0.256,0.190,0.405,16259,0.144717,0.056491,0.035345,0.190010,0.174665,0.041381,0.246231,0.348218,0.190415,0.784864,29651
53,Riverdale,54,82.7,0.080,0.580,0.404,0.265,0.491,7478,0.014347,0.013730,0.010799,0.191453,0.088399,0.015890,0.464209,0.427954,0.181425,1.073588,6482
54,Hegewisch,55,40.2,0.032,0.163,0.094,0.180,0.409,24036,0.108954,0.012200,0.131021,0.201782,0.157755,0.045937,0.103862,0.164969,0.071610,0.340441,9426
55,Garfield Ridge,56,35.4,0.023,0.083,0.120,0.178,0.369,26893,0.112914,0.004375,0.271202,0.243242,0.100947,0.077304,0.064063,0.162489,0.077043,0.303596,34513
56,Archer Heights,57,54.4,0.098,0.146,0.143,0.322,0.385,16507,0.063167,0.009109,1.426641,0.204136,0.051669,0.131412,0.086911,0.243336,0.069663,0.399910,13393
57,Brighton Park,58,65.4,0.126,0.249,0.148,0.457,0.375,12981,0.050652,0.008244,0.872024,0.111092,0.052879,0.068991,0.090967,0.156300,0.071350,0.318617,45368
58,McKinley Park,59,50.0,0.058,0.216,0.140,0.311,0.358,17374,0.081860,0.007750,1.523700,0.173072,0.086152,0.103510,0.088073,0.216820,0.069242,0.374135,15612
59,Bridgeport,60,41.2,0.043,0.201,0.132,0.231,0.302,22319,0.049004,0.004816,0.458173,0.093411,0.050818,0.095319,0.070645,0.168371,0.048535,0.287550,31977
60,New City,61,69.1,0.116,0.318,0.249,0.373,0.388,12426,0.050116,0.038917,0.328458,0.137797,0.085292,0.050094,0.200104,0.276990,0.156455,0.633549,44377
61,West Elsdon,62,52.3,0.083,0.152,0.134,0.310,0.387,15921,0.086752,0.003203,0.776244,0.184825,0.060743,0.100723,0.063339,0.200563,0.058369,0.322271,18109
62,Gage Park,63,70.6,0.154,0.238,0.162,0.489,0.385,11814,0.047225,0.010378,0.739510,0.125056,0.053241,0.062917,0.091492,0.174688,0.071615,0.337795,39894
63,Clearing,64,35.9,0.029,0.096,0.103,0.165,0.372,24451,0.166213,0.002463,0.125848,0.204287,0.088768,0.091361,0.058257,0.121526,0.049916,0.229699,23139
64,West Lawn,65,50.9,0.068,0.162,0.129,0.335,0.381,17237,0.102623,0.002548,0.351611,0.197032,0.051147,0.096207,0.065477,0.213461,0.052346,0.331285,33355
65,Chicago Lawn,66,61.1,0.076,0.314,0.224,0.303,0.388,12673,0.056195,0.022722,0.282340,0.124488,0.078629,0.066495,0.183343,0.287373,0.150877,0.621593,55628
66,West Englewood,67,64.8,0.048,0.346,0.368,0.253,0.404,12073,0.070497,0.106408,0.062780,0.150261,0.126686,0.042135,0.379073,0.479341,0.304267,1.162681,35505
67,Englewood,68,68.9,0.041,0.483,0.368,0.285,0.395,11281,0.056143,0.087036,0.044888,0.119462,0.128009,0.034286,0.427611,0.507797,0.304854,1.240262,30654
68,Greater Grand Crossing,69,54.8,0.042,0.346,0.258,0.151,0.401,16324,0.075363,0.048862,0.023403,0.187841,0.139163,0.064996,0.372063,0.501288,0.253604,1.126955,32602
69,Ashburn,70,37.6,0.035,0.108,0.130,0.163,0.357,23404,0.087194,0.007278,0.194542,0.193861,0.112631,0.061050,0.076605,0.184684,0.062730,0.324018,41081
70,Auburn Gresham,71,53.5,0.028,0.284,0.280,0.179,0.407,16432,0.094249,0.036908,0.025891,0.182590,0.126377,0.054613,0.272696,0.380896,0.200562,0.854153,48743
71,Beverly,72,23.3,0.012,0.042,0.074,0.027,0.380,41789,0.070830,0.004792,0.024309,0.301837,0.137267,0.030598,0.049915,0.153339,0.051413,0.254667,20034
72,Washington Heights,73,42.7,0.015,0.172,0.232,0.112,0.388,19806,0.112067,0.028725,0.015098,0.222059,0.164157,0.062734,0.184539,0.320122,0.157174,0.661835,26493
73,Mount Greenwood,74,26.6,0.020,0.047,0.086,0.047,0.367,33893,0.051013,0.003562,0.037029,0.203844,0.089038,0.023621,0.045357,0.088252,0.036401,0.170010,19093
74,Morgan Park,75,37.2,0.019,0.144,0.140,0.112,0.395,25167,0.084679,0.020227,0.014416,0.223252,0.149619,0.036773,0.138440,0.253460,0.116927,0.508827,22544
75,O'Hare,76,36.7,0.047,0.181,0.089,0.117,0.336,23908,0.002430,0.000627,0.050800,0.130213,0.029555,0.026889,0.096660,0.348385,0.296331,0.741377,12756
76,Edgewater,77,28.6,0.042,0.176,0.093,0.092,0.247,35300,0.020559,0.001327,0.163656,0.120327,0.026574,0.044090,0.055731,0.129916,0.044514,0.230162,56521

In [86]:
# review data info
geographicDescriptors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 76
Data columns (total 20 columns):
Community Area Name    77 non-null object
Community Area         77 non-null object
Hardship               77 non-null float64
CrowdedHousing         77 non-null float64
Poverty                77 non-null float64
Unemployed             77 non-null float64
NoDiploma              77 non-null float64
Dependency             77 non-null float64
Income                 77 non-null int64
AlleyLights            77 non-null float64
VacantBuildings        77 non-null float64
Graffiti               77 non-null float64
Potholes               77 non-null float64
StreetLights           77 non-null float64
AbandonedVehicles      77 non-null float64
CrimePerson            77 non-null float64
CrimeProperty          77 non-null float64
CrimeSociety           77 non-null float64
CrimeTotal             77 non-null float64
Pop                    77 non-null int64
dtypes: float64(16), int64(2), object(2)
memory usage: 12.6+ KB

In [87]:
# reorder data (personal preference to layout)
geographicDescriptors = geographicDescriptors[['Community Area Name', 
                                               'Community Area', 
                                               'Pop',
                                               'Income', 
                                               'Poverty', 
                                               'CrowdedHousing', 
                                               'Unemployed', 
                                               'NoDiploma', 
                                               'Dependency', 
                                               'Hardship', 
                                               'VacantBuildings', 
                                               'AbandonedVehicles', 
                                               'StreetLights', 
                                               'AlleyLights', 
                                               'Potholes', 
                                               'Graffiti', 
                                               'CrimePerson', 
                                               'CrimeProperty', 
                                               'CrimeSociety', 
                                               'CrimeTotal', ]]
geographicDescriptors

,Community Area Name,Community Area,Pop,Income,Poverty,CrowdedHousing,Unemployed,NoDiploma,Dependency,Hardship,VacantBuildings,AbandonedVehicles,StreetLights,AlleyLights,Potholes,Graffiti,CrimePerson,CrimeProperty,CrimeSociety,CrimeTotal
0,Rogers Park,1,54991,24323,0.240,0.071,0.093,0.164,0.272,39.7,0.000891,0.051117,0.025059,0.024095,0.119947,0.178193,0.109763,0.182175,0.080850,0.372788
1,West Ridge,2,71942,23498,0.174,0.076,0.100,0.171,0.383,44.3,0.001640,0.066303,0.034375,0.029204,0.163423,0.220845,0.063245,0.135651,0.047636,0.246532
2,Uptown,3,56362,37180,0.239,0.038,0.101,0.108,0.233,29.9,0.001153,0.030819,0.022586,0.014779,0.073667,0.189046,0.090469,0.179518,0.091462,0.361449
3,Lincoln Square,4,39493,39524,0.127,0.016,0.079,0.106,0.260,23.8,0.001899,0.056972,0.040817,0.026866,0.141190,0.466589,0.060745,0.150001,0.048920,0.259666
4,North Center,5,31867,56893,0.061,0.006,0.046,0.060,0.278,14.9,0.002950,0.069633,0.046663,0.032008,0.152101,0.533436,0.037374,0.174412,0.039006,0.250792
5,Lakeview,6,94368,61610,0.113,0.010,0.042,0.024,0.176,9.6,0.001007,0.025263,0.022402,0.018354,0.098042,0.245433,0.060656,0.223179,0.055665,0.339501
6,Lincoln Park,7,64116,68682,0.125,0.007,0.048,0.031,0.227,11.1,0.001341,0.027170,0.039647,0.021399,0.132167,0.224546,0.041846,0.251950,0.045231,0.339026
7,Near North Side,8,80484,86068,0.122,0.013,0.067,0.024,0.226,8.6,0.000522,0.010810,0.028788,0.005678,0.114147,0.130237,0.105126,0.395172,0.124546,0.624845
8,Edison Park,9,11187,40833,0.029,0.019,0.067,0.078,0.363,24.4,0.000894,0.046483,0.064539,0.061947,0.359614,0.017431,0.031912,0.064986,0.031197,0.128095
9,Norwood Park,10,37023,35120,0.076,0.011,0.084,0.078,0.397,28.6,0.002512,0.056532,0.070011,0.058369,0.308214,0.034762,0.042109,0.098209,0.037355,0.177673
10,Jefferson Park,11,25448,30964,0.103,0.033,0.103,0.134,0.361,33.7,0.002986,0.103387,0.059415,0.058040,0.220528,0.127083,0.055957,0.139972,0.049002,0.244931
11,Forest Glen,12,18508,43682,0.068,0.010,0.062,0.048,0.420,25.6,0.001891,0.058353,0.086935,0.050303,0.344554,0.065755,0.022693,0.087746,0.026961,0.137400
12,North Park,13,17931,26931,0.136,0.032,0.100,0.120,0.409,37.2,0.001450,0.076460,0.064525,0.039262,0.220456,0.260276,0.051140,0.166639,0.044950,0.262729
13,Albany Park,14,51542,23240,0.183,0.095,0.100,0.269,0.322,47.0,0.002755,0.057778,0.024951,0.030286,0.120368,0.395542,0.069050,0.139614,0.044333,0.252998
14,Portage Park,15,64124,24459,0.142,0.029,0.119,0.181,0.325,36.3,0.003010,0.096454,0.067369,0.058293,0.163168,0.259170,0.068648,0.157804,0.058839,0.285291
15,Irving Park,16,53359,26001,0.137,0.059,0.091,0.212,0.311,38.2,0.003936,0.105849,0.047227,0.044472,0.173766,0.496748,0.075751,0.179970,0.050975,0.306696
16,Dunning,17,41932,26229,0.111,0.016,0.094,0.144,0.339,31.9,0.004197,0.105051,0.059406,0.060407,0.191071,0.118096,0.051846,0.114924,0.042474,0.209244
17,Montclare,18,13426,19895,0.162,0.068,0.123,0.239,0.365,46.2,0.003948,0.102637,0.070013,0.049307,0.188515,0.138686,0.060256,0.135185,0.045211,0.240652
18,Belmont Cragin,19,78743,15978,0.185,0.097,0.142,0.388,0.373,57.0,0.005880,0.068387,0.041883,0.044436,0.128100,0.397419,0.097558,0.169310,0.073365,0.340233
19,Hermosa,20,25010,14789,0.235,0.070,0.124,0.415,0.361,55.2,0.004398,0.060416,0.044902,0.047141,0.105438,0.396202,0.102999,0.179328,0.083047,0.365374
20,Avondale,21,39262,21240,0.172,0.047,0.085,0.262,0.312,40.3,0.006724,0.071902,0.044139,0.038893,0.143396,0.776680,0.078702,0.195940,0.054837,0.329479
21,Logan Square,22,73595,33123,0.166,0.036,0.071,0.138,0.265,29.5,0.005082,0.064814,0.051050,0.037448,0.157348,0.688933,0.082424,0.244514,0.056036,0.382974
22,Humboldt Park,23,56323,14366,0.323,0.121,0.175,0.306,0.383,63.6,0.026614,0.062923,0.075369,0.066935,0.118886,0.206612,0.233226,0.309021,0.293876,0.836124
23,West Town,24,81432,44373,0.133,0.024,0.075,0.122,0.221,22.3,0.004593,0.061745,0.053357,0.038744,0.158365,0.668054,0.095896,0.340751,0.064778,0.501425
24,Austin,25,98514,15478,0.298,0.055,0.221,0.245,0.390,55.7,0.021621,0.053302,0.089338,0.070822,0.137168,0.052977,0.279991,0.355087,0.326512,0.961589
25,West Garfield Park,26,18001,11309,0.442,0.090,0.205,0.271,0.422,66.5,0.061774,0.062663,0.139103,0.072774,0.115438,0.068718,0.440142,0.517916,0.789623,1.747681
26,East Garfield Park,27,20567,13223,0.415,0.062,0.206,0.210,0.391,58.8,0.038995,0.067341,0.124957,0.050955,0.148296,0.098021,0.420674,0.473769,0.507707,1.402149
27,Near West Side,28,54881,43503,0.214,0.043,0.107,0.084,0.211,26.8,0.004082,0.036424,0.081176,0.024617,0.189191,0.301871,0.171589,0.482079,0.138973,0.792642
28,North Lawndale,29,35912,11686,0.416,0.072,0.254,0.269,0.407,65.1,0.038372,0.053492,0.117426,0.052322,0.129316,0.112469,0.397555,0.457646,0.429912,1.285114
29,South Lawndale,30,79288,10138,0.333,0.155,0.155,0.542,0.349,73.6,0.005638,0.038139,0.043840,0.032716,0.092120,0.588803,0.099372,0.142771,0.071965,0.314108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,Calumet Heights,48,13812,27390,0.107,0.015,0.212,0.105,0.425,39.7,0.022879,0.067188,0.194251,0.119461,0.252534,0.050970,0.149073,0.321677,0.111063,0.581813
48,Roseland,49,44619,17146,0.236,0.028,0.249,0.162,0.419,50.5,0.053856,0.052130,0.173895,0.110334,0.176203,0.029830,0.262960,0.391201,0.202582,0.856743
49,Pullman,50,7325,20312,0.248,0.010,0.257,0.154,0.360,45.4,0.034539,0.073311,0.107031,0.079044,0.207645,0.037133,0.263072,0.382526,0.158362,0.803959
50,South Deering,51,15109,15213,0.274,0.038,0.217,0.213,0.403,52.6,0.026938,0.045933,0.195182,0.068701,0.229731,0.149315,0.208882,0.353233,0.139519,0.701635
51,East Side,52,23042,17019,0.172,0.068,0.178,0.300,0.412,53.9,0.009070,0.059413,0.132758,0.090964,0.144909,0.316986,0.096823,0.150291,0.070046,0.317160
52,West Pullman,53,29651,16259,0.294,0.035,0.256,0.190,0.405,53.8,0.056491,0.041381,0.174665,0.144717,0.190010,0.035345,0.246231,0.348218,0.190415,0.784864
53,Riverdale,54,6482,7478,0.580,0.080,0.404,0.265,0.491,82.7,0.013730,0.015890,0.088399,0.014347,0.191453,0.010799,0.464209,0.427954,0.181425,1.073588
54,Hegewisch,55,9426,24036,0.163,0.032,0.094,0.180,0.409,40.2,0.012200,0.045937,0.157755,0.108954,0.201782,0.131021,0.103862,0.164969,0.071610,0.340441
55,Garfield Ridge,56,34513,26893,0.083,0.023,0.120,0.178,0.369,35.4,0.004375,0.077304,0.100947,0.112914,0.243242,0.271202,0.064063,0.162489,0.077043,0.303596
56,Archer Heights,57,13393,16507,0.146,0.098,0.143,0.322,0.385,54.4,0.009109,0.131412,0.051669,0.063167,0.204136,1.426641,0.086911,0.243336,0.069663,0.399910
57,Brighton Park,58,45368,12981,0.249,0.126,0.148,0.457,0.375,65.4,0.008244,0.068991,0.052879,0.050652,0.111092,0.872024,0.090967,0.156300,0.071350,0.318617
58,McKinley Park,59,15612,17374,0.216,0.058,0.140,0.311,0.358,50.0,0.007750,0.103510,0.086152,0.081860,0.173072,1.523700,0.088073,0.216820,0.069242,0.374135
59,Bridgeport,60,31977,22319,0.201,0.043,0.132,0.231,0.302,41.2,0.004816,0.095319,0.050818,0.049004,0.093411,0.458173,0.070645,0.168371,0.048535,0.287550
60,New City,61,44377,12426,0.318,0.116,0.249,0.373,0.388,69.1,0.038917,0.050094,0.085292,0.050116,0.137797,0.328458,0.200104,0.276990,0.156455,0.633549
61,West Elsdon,62,18109,15921,0.152,0.083,0.134,0.310,0.387,52.3,0.003203,0.100723,0.060743,0.086752,0.184825,0.776244,0.063339,0.200563,0.058369,0.322271
62,Gage Park,63,39894,11814,0.238,0.154,0.162,0.489,0.385,70.6,0.010378,0.062917,0.053241,0.047225,0.125056,0.739510,0.091492,0.174688,0.071615,0.337795
63,Clearing,64,23139,24451,0.096,0.029,0.103,0.165,0.372,35.9,0.002463,0.091361,0.088768,0.166213,0.204287,0.125848,0.058257,0.121526,0.049916,0.229699
64,West Lawn,65,33355,17237,0.162,0.068,0.129,0.335,0.381,50.9,0.002548,0.096207,0.051147,0.102623,0.197032,0.351611,0.065477,0.213461,0.052346,0.331285
65,Chicago Lawn,66,55628,12673,0.314,0.076,0.224,0.303,0.388,61.1,0.022722,0.066495,0.078629,0.056195,0.124488,0.282340,0.183343,0.287373,0.150877,0.621593
66,West Englewood,67,35505,12073,0.346,0.048,0.368,0.253,0.404,64.8,0.106408,0.042135,0.126686,0.070497,0.150261,0.062780,0.379073,0.479341,0.304267,1.162681
67,Englewood,68,30654,11281,0.483,0.041,0.368,0.285,0.395,68.9,0.087036,0.034286,0.128009,0.056143,0.119462,0.044888,0.427611,0.507797,0.304854,1.240262
68,Greater Grand Crossing,69,32602,16324,0.346,0.042,0.258,0.151,0.401,54.8,0.048862,0.064996,0.139163,0.075363,0.187841,0.023403,0.372063,0.501288,0.253604,1.126955
69,Ashburn,70,41081,23404,0.108,0.035,0.130,0.163,0.357,37.6,0.007278,0.061050,0.112631,0.087194,0.193861,0.194542,0.076605,0.184684,0.062730,0.324018
70,Auburn Gresham,71,48743,16432,0.284,0.028,0.280,0.179,0.407,53.5,0.036908,0.054613,0.126377,0.094249,0.182590,0.025891,0.272696,0.380896,0.200562,0.854153
71,Beverly,72,20034,41789,0.042,0.012,0.074,0.027,0.380,23.3,0.004792,0.030598,0.137267,0.070830,0.301837,0.024309,0.049915,0.153339,0.051413,0.254667
72,Washington Heights,73,26493,19806,0.172,0.015,0.232,0.112,0.388,42.7,0.028725,0.062734,0.164157,0.112067,0.222059,0.015098,0.184539,0.320122,0.157174,0.661835
73,Mount Greenwood,74,19093,33893,0.047,0.020,0.086,0.047,0.367,26.6,0.003562,0.023621,0.089038,0.051013,0.203844,0.037029,0.045357,0.088252,0.036401,0.170010
74,Morgan Park,75,22544,25167,0.144,0.019,0.140,0.112,0.395,37.2,0.020227,0.036773,0.149619,0.084679,0.223252,0.014416,0.138440,0.253460,0.116927,0.508827
75,O'Hare,76,12756,23908,0.181,0.047,0.089,0.117,0.336,36.7,0.000627,0.026889,0.029555,0.002430,0.130213,0.050800,0.096660,0.348385,0.296331,0.741377
76,Edgewater,77,56521,35300,0.176,0.042,0.093,0.092,0.247,28.6,0.001327,0.044090,0.026574,0.020559,0.120327,0.163656,0.055731,0.129916,0.044514,0.230162

### Use this table for visualization and analysis

In [88]:
# save to csv for data visualization and analysis
geographicDescriptors.to_csv("data/geographicDescriptors.csv")

# Analysis portion of project continues in additional notebooks